<h1>String Replacer</h1>

<form action="/result" method="post">

  <label for="phrase">Enter your phrase:</label>
  <input name="phrase" type="text">

  <label for="search">Word to change:</label>
  <input name="search" type="text">

  <label for="replacement">Replacement word:</label>
  <input name="replacement" type="text">

  <button type="submit">Find & replace!</button>
</form>
